{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Moje zamówienia {% endblock %}
{% block stylesheets %} {{ parent() }}
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet"> {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            {% if(orders!=null) %}

            <h3>Zamówienia:</h3>
            <table id="tableSort" class="table table-hover table-bordered tablesorter">
                <thead>
                <tr>
                    <td>Data zamówienia <span class="glyphicon glyphicon-sort"></span></td>
                    <td>Użytkownik <span class="glyphicon glyphicon-sort"></span></td>
                    <td>Nazwa przewoźnika <span class="glyphicon glyphicon-sort"></span></td>
                    <td>Produkty</td>
                    <td>Uwagi</td>
                    <td>Suma <span class="glyphicon glyphicon-sort"></span></td>
                </tr>
                </thead>
                <tbody>
                {% for o in orders %}
                    <tr {% if current_user!=null and current_user!=o.user.username %} style="display:none;" {% endif %}>
                        <td>{{ o.getDate().date|date("d.m.Y, H:i") }}</td>
                        <td><a href="{{ absolute_url('/admin/users?user='~o.user.username) }}">{{ o.user.username }}</a>
                        </td>

                        <td>{{ o.getCarrier().getName() }}</td>
                        <td>
                            {% set sum = o.getCarrier().getCost() %} {% for product in o.getProducts().getValues() %} {% set sum = sum + product.amount
                            * product.getProduct().getPrice() %} - <a
                                    href="{{ absolute_url('/shop/product/'~product.getProduct().getId()) }}">{{ product.getProduct().getName() }}</a>,
                                liczba sztuk: {{ product.amount }}
                                <br> {% endfor %}
                        </td>
                        <td>{{ o.getNotice() }}</td>
                        <td>{{ sum }}zł</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h3>Brak zamówień.</h3>
        {% endif %}
    </div>
{% endblock %}