{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Nowy produkt
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>


{% endblock %}