{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Produkty
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Edytuj zdjęcia produktu o id {{ product.id }}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <div class="row">
                {% for i in images %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="{{ asset('uploads/'~i.image) | imagine_filter('thumb_shop') }}">
                            <div class="caption">
                                <p><a href="{{ path('delete_photo', {'id_product':product.id,'id_photo':i.id}) }}" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove"
                                        ></span> USUŃ</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a href=" {{ path('products') }}">Powrót</a>
        </div>
    </div>
{% endblock %}